.anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 4rem;
}

.anime-list li {
    padding: 2rem;
    outline: 0.2rem dotted;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.anime-list img {
    border: 4px solid;
}

.anime-list h2 {
    font-size: 1.1rem;
}

.anime .actions {
    display: flex;
    margin: -1rem;
}
.anime .actions > * {
    margin: 1rem;
}

.cta {
    cursor: pointer;
    border: 2px solid;
    text-align: center;
    padding: 0.25rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: inherit;
    box-shadow: 0.25rem 0.25rem 0 $color-font;
    background: $color-grey;
}

article > * + * {
    margin-top: 4rem;
}

.animeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.anime {
    width: 100%;
    padding: 2rem;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    background: $trans-background;
    border: 0.1rem solid $color-font;
    border-radius: 0.8rem;

    &__header {
        display: flex;

        &--cover {
            width: 30%;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-size: 2rem;
            display: block;
            width: auto;
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            // flex-wrap: wrap;
            align-items: center;
        }

        p {
            font-style: italic;
            text-align: justify;
            font-size: 1.6rem;
        }

        &--actions {
            margin: 0 auto;
            width: 70%;
            a,
            form button {
                width: 100%;
                font-weight: bold;
                margin-bottom: 1rem;
            }
        }
    }
}

section.reviewsContainer {
    .userReview,
    .otherReviews__review {
        width: 100%;
        margin-bottom: 1rem;
        border: 0.2rem dotted $color-font;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $trans-background;

        &__header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid $color-font;
            font-weight: bold;
        }

        &__content {
            font-style: italic;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        &__actions {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
    }
}
