.top-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 3rem;
    }

    &__anime {
        width: 100%;
        padding: 2rem;
        box-sizing: content-box;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        margin-bottom: 3rem;
        background: #eef;

        &__img {
            width: 40%;

            img {
                border: 4px solid;
            }
        }

        &__content {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-size: 2rem;
                display: block;
                width: auto;
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;
                // flex-wrap: wrap;
                align-items: center;
            }

            p {
                font-style: italic;
                text-align: justify;
                font-size: 1.6rem;
            }

            &--actions {
                margin: 0 auto;
                width: 70%;
                a,
                form button {
                    width: 100%;
                    font-weight: bold;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

.cta {
    cursor: pointer;
    border: 2px solid;
    text-align: center;
    padding: 0.25rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: inherit;
    box-shadow: 0.25rem 0.25rem 0 black;
    background: white;
}

article > * + * {
    margin-top: 4rem;
}

.anime__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    // &--title {
    //     p {
    //         // .animeRank {
    //         //     font-size: 1.4rem;
    //         //     font-weight: bold;
    //         //     padding: 0.3rem 0.6rem;
    //         //     background-color: #ccc;

    //         //     &__note {
    //         //         color: white;

    //         //         &--green {
    //         //             color: green;
    //         //         }

    //         //         &--red {
    //         //             color: red;
    //         //         }
    //         //     }
    //         // }
    //     }
    // }
}
