.animeRank {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.3rem 0.6rem;
    background-color: #ccc;

    &__note {
        color: white;

        &--green {
            color: green;
        }

        &--red {
            color: red;
        }
    }
}
